/* Google Font CDN Link */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
}
:root{
  --light : #ffffff;
  --dark-1 : #0e2431;
  --dark-2: #08293b;
}
.theme{
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  padding: 8px 5px 8px 10px;
  border-radius: 50% 0 0 50%;
  top: 100px;
  right: 0;
  background-color: #54a900;
}
.bxs-sun{
  font-size: 18px;
  color: var(--light);
  cursor: pointer;
}.bxs-moon{
   font-size: 18px;
   color: var(--light);
   cursor: pointer;
}
/* Custom Scroll Bar CSS */
::-webkit-scrollbar {
  width: 0;
  /*display: none;*/
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #37da37;
  border-radius: 12px;
  transition: all 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: #51cf66;
}
/* navbar styling */
nav {
  position: fixed;
  width: 100%;
  padding: 20px 0;
  z-index: 998;
  transition: all 0.3s ease;
  font-family: "Ubuntu", sans-serif;
}
nav.sticky {
  background: #464646;
  padding: 13px 0;
}
nav .navbar {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}
nav .navbar .logo a {
  font-weight: 500;
  font-size: 35px;
  color: #bfd8bd;
}
nav.sticky .navbar .logo a {
  color: #bfd8bd;
}
nav .navbar .menu {
  display: flex;
  position: relative;
}
nav .navbar .menu li {
  list-style: none;
  margin: 0 8px;
}
.navbar .menu a {
  font-size: 18px;
  font-weight: 500;
  color: #bfd8bd;
  padding: 6px 0;
  transition: all 0.4s ease;
}
.navbar .menu a:hover {
  color: #fff;
}
nav.sticky .menu a {
  color: #bfd8bd;
}
nav.sticky .menu a:hover {
  color: #fff;
}
.navbar .media-icons a {
  color: #bfd8bd;
  font-size: 18px;
  margin: 0 6px;
}
.navbar .media-icons a:hover {
  color: #fff;
  font-size: 18px;
  margin: 0 6px;
}

nav.sticky .media-icons a {
  color: #bfd8bd;
}
nav.sticky .media-icons a:hover {
  color: #fff;
}

/* Side Navigation Menu Button CSS */
nav .menu-btn,
.navbar .menu .cancel-btn {
  position: absolute;
  color: #fff;
  right: 30px;
  top: 20px;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: none;
}
nav .menu-btn {
  color: #bfd8bd;
}
nav.sticky .menu-btn {
  color: #fff;
}
.navbar .menu .menu-btn {
  color: #fff;
}

/* home section styling */
.home {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(
      rgba(34, 34, 34, 0.6),
      rgba(34, 34, 34, 0.6)
    ),
    url("images/background.jpeg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: "Ubuntu", sans-serif;
}
.home .home-content {
  width: 90%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.home .text-one {
  font-size: 25px;
  color: #bfd8bd;
}
.home .text-two {
  color: #bfd8bd;
  font-size: 56px;
  font-weight: 600;
  margin-left: -3px;
}
.home .text-three {
  font-size: 40px;
  margin: 5px 0;
  color: #bfd8bd;
}
.home .text-four {
  font-size: 23px;
  margin: 5px 0;
  color: #bfd8bd;
}
.home .button {
  margin: 14px 0;
  display: flex;
  gap: 20px;
}
.home .button button {
  outline: none;
  padding: 8px 16px;
  border-radius: 6px;
  font-size: 25px;
  font-weight: 400;
  background: #37da37;
  color: #fff;
  cursor: pointer;
  border: 2px solid transparent;
  transition: all 0.4s ease;
}
.home .button a {
  text-decoration : none;
  outline: none;
  padding: 8px 16px;
  border-radius: 6px;
  font-size: 25px;
  font-weight: 400;
  background: #37da37;
  color: #fff;
  cursor: pointer;
  border: 2px solid transparent;
  transition: all 0.4s ease;
}
.home .button button:hover {
  border-color: #37da37;
  background-color: rgba(34, 34, 34, 0.6);
  color: #37da37;
}
.home .button a:hover {
  border-color: #37da37;
  background-color: rgba(34, 34, 34, 0.6);
  color: #37da37;
}

/* About Section Styling */
/* Those Elements Where We Have Apply Same CSS,
 I'm Selecting Directly 'Section Tag' and 'Class'  */
section {
  padding-top: 40px;
}
section .content {
  width: 80%;
  margin:auto;
  font-family: "Poppins", sans-serif;
  color: #0e2431;
}
.about .about-details {
  display: flex;
  justify-content: space-between;
  align-items: center;

}
section .title {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
section .title span {
  font-size: 30px;
  font-weight: 600;
  position: relative;
  padding-bottom: 8px;
}
section .title span::before,
section .title span::after {
  content: "";
  position: absolute;
  height: 3px;
  width: 100%;
  background: #bfd8bd;
  left: 0;
  bottom: 0;
}
section .title span::after {
  bottom: -7px;
  width: 70%;
  left: 50%;
  transform: translateX(-50%);
}
.about .about-details .left {
  width: 45%;
}
.about .left img {
  height: 400px;
  width: 400px;
  object-fit: cover;
  border-radius: 12px;
}
.about-details .right {
  width: 55%;
}
section .topic {
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 10px;
}
.my-service-content {
  text-align: center;
}
.about-details .right p {
  text-align: justify;
}
section .button {
  margin: 16px 0;
}
section .button button {
  outline: none;
  padding: 8px 16px;
  border-radius: 4px;
  font-size: 25px;
  font-weight: 400;
  background: #37da37;
  color: #fff;
  border: 2px solid transparent;
  cursor: pointer;
  transition: all 0.4s ease;
}
section .button button:hover {
  border-color: #37da37;
  background-color: #f0f8ff;
  color: #8ce99a;
}

/* My Skills CSS */
.skills {
  background: #f0f8ff;
    color: #0e2431;
}
.skills .content {
  padding: 40px 0;
}
.skills .skills-details {
  display: flex;
  justify-content: flex-start;
  /*align-items: center;*/
}
.skills-details .text {
  width: 100%;
}
.skills-details p {
  text-align: justify;
}
.skills .skills-details .experience {
  display: flex;
  align-items: center;
  margin: 0 10px;
}
.skills-details .experience .num {
  font-size: 80px;
}
.skills-details .experience .exp {
  margin-left: 20px;
  font-size: 18px;
  font-weight: 500;
  margin: 0 6px;
}
.skills-details .boxes {
  width: 45%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.skills-details .box {
  width: calc(100% / 2 - 20px);
  margin: 20px 0;
}
.skills-details .boxes .topic {
  font-size: 20px;
  color: #37da37;
}
.skills-details .boxes .per {
  font-size: 60px;
  color: #37da37;
}

/* My Services CSS */
.services .boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.services .boxes .box {
  margin: 20px 0;
  width: calc(100% / 3 - 20px);
  text-align: center;
  border-radius: 12px;
  padding: 30px 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12);
  cursor: default;
  transition: all 0.4s ease;
}
.services .boxes .box:hover {
  background: #37da37;
  color: #fff;
}
.services .boxes .box .icon {
  height: 50px;
  width: 50px;
  background: #37da37;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  font-size: 18px;
  color: #fff;
  margin: 0 auto 10px auto;
  transition: all 0.4s ease;
}
.boxes .box:hover .icon {
  background-color: #fff;
  color: #bfd8bd;
}
.services .boxes .box:hover .topic,
.services .boxes .box:hover p {
  color: #0e2431;
  transition: all 0.4s ease;
}
.services .boxes .box:hover .topic,
.services .boxes .box:hover p {
  color: #fff;
}

.v1 {
  margin-left: 400px;
  padding: 300px;
}

/* Contact Me CSS */
.contact {
  background: #1894ff8c;
}
.contact .content {
  margin: 0 auto;
  padding: 30px 0;
  color: #0e2431;
}
.contact .text {
  width: 80%;
  text-align: center;
  margin: auto;
}

/* Footer CSS */
footer {
  background: #0a7f0a;
  padding: 15px 0;
  text-align: center;
  font-family: "Poppins", sans-serif;
}
footer .text span {
  font-size: 17px;
  font-weight: 400;
  color: #fff;
}
footer .text span a {
  font-weight: 500;
  color: #fff;
}
footer .text span a:hover {
  text-decoration: underline;
}
/* Scroll TO Top Button CSS */
.scroll-button a {
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: #fff;
  background: #185400;
  padding: 9px 12px;
  font-size: 18px;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.15);
  display: none;
}

.my-service-content {
  text-align: center;
  letter-spacing: 0.1px;
}

/* Responsive Media Query */
@media (max-width: 1190px) {
  section .content {
    width: 85%;
  }
}

@media (max-width: 1000px) {
  .about .about-details {
    justify-content: center;
    flex-direction: column;
  }
  .about .about-details .left {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .about-details .right {
    width: 90%;
    margin: 40px 0;
  }
  .services .boxes .box {
    margin: 20px 0;
    width: calc(100% / 2 - 20px);
  }
}
@media (max-width: 900px) {
  .about .left img {
    height: 350px;
    width: 350px;
  }
  #gmail-btn {
    display: none;
  }
}

@media (max-width: 750px) {
    nav.sticky {
    background: #464646;
    padding: 30px 0;
}
  nav .navbar {
    width: 90%;
  }
  nav .navbar .menu {
    position: fixed;
    left: -100%;
    top: 0;
    background: #464646;
    height: 100vh;
    max-width: 400px;
    width: 100%;
    padding-top: 60px;
    flex-direction: column;
    align-items: center;
    transition: all 0.5s ease;
  }
  .navbar.active .menu {
    left: 0;
  }
  nav .navbar .menu a {
    font-size: 23px;
    display: block;
    color: #bfd8bd;
    margin: 10px 0;
  }
  nav.sticky .menu a:hover {
    color: #fff;
  }
  nav .navbar .media-icons {
    display: none;
  }
  nav .menu-btn,
  .navbar .menu .cancel-btn {
    display: block;
  }
  .home .text-two {
    font-size: 65px;
  }
  .home .text-three {
    font-size: 35px;
  }
  .skills .skills-details {
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .skills-details .text {
    width: 100%;
    margin-bottom: 50px;
  }
  .skills-details .boxes {
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .services .boxes .box {
    margin: 20px 0;
    width: 100%;
  }
  .contact .text {
    width: 100%;
  }
  #gmail-btn {
    display: none;
  }
}

@media (max-width: 500px) {
  nav.sticky {
    background: #464646;
    padding: 30px 0;
}
  .home .text-two {
    font-size: 55px;
  }
  .home .text-three {
    font-size: 33px;
  }
  .skills-details .boxes .per {
    font-size: 50px;
    color: #bfd8bd;
  }
  #gmail-btn {
    display: none;
  }
}
